.carousel {
    width: 60%;
    margin: 0 auto;
}

@media all and (max-width: 800px) {
    .container {
        width: 95%;
        margin: 30px auto;
    }
}

@media all and (max-width: 590px) {
    .carousel {
        width: 100%;
    }
}
