@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

:root {
    --yellow: #c6ab22;
    --white: rgba(255, 255, 255, 0.685);
    --border-line: rgba(255, 255, 255, 0.233);
    --review-bg: linear-gradient(rgb(43, 36, 36), rgba(131, 109, 109, 0.1));
    --contact-form-color: #4E4141;
}

html, body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    font-size: 16px;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

section h2 {
    color: var(--yellow);
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 50px;
    padding-top: 20px;
}

body {
    background: #131212;
}

.container {
    max-width: 1400px;
    margin: 30px auto;
}

.btn {
    /* padding: 20px 30px; */
    padding: 1rem 2.5rem;
    border-radius: 50px;
    background: linear-gradient(#FFD613, #8E780D);
    color: black;
    letter-spacing: 3px;
}

/* Header */
header {
    width: 100%;
}

nav {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul li a {
    font-size: 1.2rem;
}

.logo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.hamburger-menu-icon {
    display: none;
}

.navbar ul {
    display: inline-flex;
    gap: 35px;
}

.navbar ul a:hover:not(.btn),
.footer-nav ul a:hover,
.copyright-notice a:hover {
    color: var(--yellow);
    transition: all 0.35s ease-in-out;
}

.navbar .btn {
    padding: 8px 30px;
}

/* SECTION HOME */
section {
    margin-top: 100px;
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

#home .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .text-content h1 {
    color: var(--yellow);
    font-weight: 400;
    /* font-size: 75px; */
    font-size: 4.2rem;
    line-height: .95;
    margin-bottom: 25px;
}

#home .text-content h1 span {
    color: var(--white);
    font-size: 4.2rem;
}

#home .text-content h3 {
    color: var(--white);
    font-weight: 300;
    /* font-size: 30px; */
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.hero-buttons a:nth-child(2) {
    color: var(--white);
    background: transparent;
    border: 1px solid var(--yellow);
}

/* .hero-buttons a {
    padding: 20px 30px;
} */

#home img {
    width: 100%;
    height: 100%;
}

/* SECTION SERVICES */
#services .services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#services .services-list {
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(350px, 450px));
    /* grid-gap: 30px; */
}

#services .services-list .services-item {
    padding: 30px;
}

#services .services-list .services-item-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

#services .services-list .services-item-name a {
    color: var(--yellow);
    font-size: 25px;
    letter-spacing: 2px;
}

#services .services-list .services-item .service-description {
    color: var(--white);
    letter-spacing: 2px;
    margin-left: 80px;
    line-height: 1.8;
}

#services .services-list .services-item {
    border-top: 1px solid var(--border-line);
    border-left: 1px solid var(--border-line);
    &:nth-child(1),
    &:nth-child(2) {
        border-top: none;
    };
    &:nth-child(1),
    &:nth-child(3) {
        border-left: none;
    };
}

#services .services-content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* SECTION REVIEWS */
#reviews .reviews-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 330px));
    justify-content: center;
    gap: 5rem;
}

#reviews .review-item .review-nameIcon {
    display: flex;
    align-items: center;
    gap: 15px;
}

#reviews .review-item .review-nameIcon h4 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 300;
}

#reviews .review-item .review-description {
    color: var(--white);
    font-size: 1rem;
    padding: 2rem 1.5rem;
    background: var(--review-bg);
    border-radius: 50px;
    height: 14rem;
    margin-top: 30px;
}

#reviews .review-item:nth-child(2) .review-description {
    background: linear-gradient(#FFD613, #8e790d4d);
    color: rgb(0, 0, 0);
}

/* SECTION ABOUT-US */
#about-us .about-us-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about-us .about-us-content img {
    padding-right: 50px;
}

#about-us .about-us-content p {
    border-left: 1px solid var(--border-line);
    padding: 30px 80px 30px 60px;
    color: var(--white);
    font-size: 20px;
}

/* SECTION CONTACT */
#contact .contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

#contact .contact-content form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#contact .contact-content form input {
    padding: 20px 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: var(--white);
    background: var(--contact-form-color);
    font-size: 18px;
}

::placeholder {
    color: var(--white);
}

#contact .contact-content form button {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

#contact .contact-content .my-contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact .contact-content .my-contact-info p {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}

/* SECTION FOOTER  */
footer {
    background-color: black;
    padding-top: 50px;
    color: var(--white);
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer-content .my-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .footer-content .my-logo,
footer .footer-content h5 {
    font-size: 20px;
}

footer .footer-content h5 {
    color: white;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}

.footer-content .social-links {
    display: flex;
    gap: 15px;
}

footer .copyright-notice {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 1450px) {
    .container {
        margin: 30px 5%;
    }
}

@media screen and (max-width: 1250px) {
    .container {
        margin: 30px 5%;
    }

    section h2 {
        font-size: 2.2rem;
    }

    /* Navbar */

    .hamburger-menu-icon {
        display: flex;
    }

    .navbar {
        display: none;
    }

    /* SECTION HOME */
    #home .text-content h1,
    #home .text-content h1 span {
        font-size: 3rem;
    }
    
    #home .text-content h3 {
        font-size: 1.3rem;
    }

    .btn {
        font-size: .8rem;
        padding: 1rem 1.5rem;
    }

    /* SECTION SERVICES */
    #services .services-list {
        grid-template-columns: repeat(2, minmax(350px, 400px));
    }

    #services .services-list .services-item {
        padding: 1.5rem;
    }

    #services .services-list .services-item-name a {
        font-size: 1.3rem;
    }

    #services .services-list .services-item .service-description {
        color: var(--white);
        letter-spacing: 2px;
        margin-left: 80px;
        line-height: 1.8;
        font-size: .8rem;
    }

    /* SECTION REVIEWS */
    #reviews .reviews-list {
        gap: 1.5rem;
    }

    #reviews .review-item .review-nameIcon h4 {
        font-size: 1.3rem;
    }

    #reviews .review-item .review-description p {
        font-size: .9rem;
    }

    /* SECTION ABOUT-US */
    #about-us .about-us-content p {
        border-left: 1px solid var(--border-line);
        padding: 30px 80px 30px 60px;
        color: var(--white);
        font-size: 1rem;
    }

    /* SECTION CONTACT */
    #contact .contact-content {
        gap: 3rem;
    }

    #contact .contact-content form {
        gap: 1.5rem;
    }

    #contact .contact-content form input {
        padding: 1.2rem 1.5rem;
        font-size: 1rem;
        width: 25rem;
    }

    #contact .contact-content form button {
        font-size: .9rem;
    }

    #contact .contact-content .my-contact-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #contact .contact-content .my-contact-info p {
        gap: 15px;
        font-size: 1rem;
    }

    /* SECTION FOOTER  */
    footer .footer-content .my-logo,
    footer .footer-content h5 {
        font-size: 1.1rem;
    }

    .footer-nav ul {
        font-size: 1rem;
    }

    footer .copyright-notice,
    footer .copyright-notice a {
        font-size: .8rem;
    }

}

@media screen and (max-width: 860px) {
    /* SECTION HOME */
    #home .text-content h1,
    #home .text-content h1 span {
        font-size: 2.7rem;
    }
    
    #home .text-content h3 {
        font-size: 1.1rem;
    }

    .btn {
        font-size: .6rem;
        padding: .7rem 1.1rem;
    }

    /* SECTION SERVICES */
    #services .services-list {
        grid-template-columns: repeat(2, minmax(250px, 350px));
    }

    #services .services-list .services-item-name a {
        font-size: 1.1rem;
    }

    #services .services-list .services-item .service-description {
        font-size: .7rem;
    }

    #services .services-content .btn {
        padding: .8rem 2rem;
    }

    /* SECTION REVIEWS */
    #reviews .reviews-list {
        gap: 1.2rem;
    }

    #reviews .review-item .review-nameIcon h4 {
        font-size: 1rem;
    }

    #reviews .review-item .review-description p {
        font-size: .8rem;
    }

    /* SECTION ABOUT-US */
    #about-us .about-us-content p {
        padding: 2rem;
        font-size: .9rem;
    }

    /* SECTION CONTACT */
    #contact .contact-content {
        gap: 1.5rem;
    }

    #contact .contact-content form {
        gap: 1.5rem;
    }

    #contact .contact-content form input {
        font-size: .8rem;
        width: 20rem;
    }

    #contact .contact-content form button {
        font-size: .8rem;
        padding: 1rem 2rem;
    }

    #contact .contact-content .my-contact-info p {
        gap: 15px;
        font-size: .8rem;
    }

    /* SECTION FOOTER  */
    footer .footer-content .my-logo,
    footer .footer-content h5 {
        font-size: .9rem;
    }

    .footer-nav ul {
        font-size: .8rem;
    }

    footer .copyright-notice,
    footer .copyright-notice a {
        font-size: .8rem;
    }

}