@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

:root {
    --yellow: #c6ab22;
    --white: rgba(255, 255, 255, 0.685);
    --border-line: rgba(255, 255, 255, 0.233);
    --review-bg: linear-gradient(rgb(43, 36, 36), rgba(131, 109, 109, 0.1));
    --contact-form-color: #4E4141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

section h2 {
    color: var(--yellow);
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 50px;
    padding-top: 20px;
}

body {
    background: #131212;
}

.container {
    max-width: 1400px;
    margin: 30px auto;
}

.btn {
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(#FFD613, #8E780D);
    color: black;
    letter-spacing: 3px;
}

/* Header */
nav {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.logo-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hide {
    display: none;
}

.navbar ul {
    display: inline-flex;
    gap: 35px;
}

.navbar ul a:hover:not(.btn),
.footer-nav ul a:hover,
.copyright-notice a:hover {
    color: var(--yellow);
    transition: all 0.35s ease-in-out;
}

.navbar .btn {
    padding: 8px 30px;
}